<!DOCTYPE html>
<html>
  <head>
    <title>Funzing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="top-nav container-fluid">
      <!-- top nav -->
      <div class="logo">
        Mini Funzing
      </div>
      <div class="user-buttons">
        <%= link_to "Login", user_session_path %>
        /
        <%= link_to "Register", new_user_registration_path %>
        /
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </div>
    </div>
    <div class="alerts container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="main container-fluid">
      <!-- main content -->
      <%= yield %>
    </div>

  </body>
</html>
